# Git
.git
.gitignore

# Environment & Keys
.env
*.env
.env.*

# Python caches
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
venv/
env/

# Node caches
node_modules/
dist/
build/
.npm/

# Contracts caches
contracts/artifacts/
contracts/cache/

# Datasets & Big Raw Downloads
dataset/
*.zip
